{% extends "sprout-lists/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set title = "Edit List"|t('sprout-lists') %}

{% if craft.app.request.getSegment(3) == 'new' %}
    {% set title = "New Subscriber List"|t('sprout-lists') %}
{% endif %}

{% set crumbs = [
    { label: "Subscriber Lists"|t('sprout-lists'), url: redirectUrl },
] %}

{% set fullPageForm = true %}

{% block actionButton %}
    <div class="buttons">
        <div class="btngroup submit">
            <input type="submit" class="btn submit" value="{{ 'Save List'|t('sprout-lists') }}">

            {% if list.id %}
                <div class="btn submit menubtn"></div>
                <div class="menu">
                    <hr>
                    <ul>
                        <li><a class="formsubmit error"
                                data-action="sprout-lists/lists/delete-list"
                                data-confirm="{{ 'Are you sure you want to delete this List?'|t('sprout-lists') }}"
                                data-redirect="{{ redirectUrl|hash }}">{{ "Delete"|t('sprout-lists') }}</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% set saveShortcutRedirect = continueEditingUrl %}

{% block content %}

    <input type="hidden" name="action" value="sprout-lists/lists/save-list">
    {{ redirectInput(redirectUrl) }}

    <input type="hidden" name="listId"
        value="{{ list.id is defined ? list.id : null }}">
    <input type="hidden" name="listType"
        value="barrelstrength\sproutlists\listtypes\SubscriberList">

    {{ forms.textField({
        label: "List Name"|t('sprout-lists'),
        instructions: "The name of your list that will be visible to users."|t('sprout-lists'),
        id: 'name',
        name: 'name',
        value: (list is defined ? list.name : null),
        autofocus: true,
        required: true,
        first: true,
        errors: (list is defined ? list.getErrors('name') : null)
    }) }}

    {{ forms.textField({
        label: "List Handle"|t('sprout-lists'),
        instructions: "How you’ll refer to this list in your templates."|t('sprout-lists'),
        id: 'handle',
        name: 'handle',
        value: (list is defined ? list.handle : null),
        required: true,
        errors: (list is defined ? list.getErrors('handle') : null)
    }) }}

{% endblock %}

{% block details %}

    {% if list.id is not null %}

        <div class="meta">

            <div class="field">
                <div class="heading">
                    <label>{{ "List Type"|t('sprout-lists') }}</label>
                </div>
                <div class="input">
                    <h6>{{ list.getType().displayName() }}</h6>
                </div>
            </div>

            <div class="field">
                <div class="heading">
                    <label>{{ "List ID"|t('sprout-lists') }}</label>
                </div>
                <div class="input">
                    <code>{{ list.id }}</code>
                </div>
            </div>

            <div class="field">
                <div class="heading">
                    <label>{{ "Element ID"|t('sprout-lists') }}</label>
                </div>
                <div class="input">
                    <code>{{ list.elementId }}</code>
                </div>
            </div>

        </div>

        <div class="meta read-only">

            <div class="data">
                <h5 class="heading">{{ "Date Created"|t('sprout-lists') }}</h5>
                <div class="value">{{ list.dateCreated|datetime('short') }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Date Updated"|t('sprout-lists') }}</h5>
                <div class="value">{{ list.dateUpdated|datetime('short') }}</div>
            </div>

        </div>

        <div class="meta">
            <div style="padding-top:24px;padding-bottom: 24px;">
                <p class="light">{{ "Deleting a List will delete all Subscriptions to the List. No Subscribers will be deleted."|t('sprout-lists') }}</p>
            </div>
        </div>
    {% endif %}


{% endblock %}

{% if not list.handle %}
    {% js %}
        new Craft.HandleGenerator('#name', '#handle');
    {% endjs %}
{% endif %}
